
/* ///////////Timeline */


/* ---- Timeline ---- */
/* trait de la fleche  */
ol {
	position: relative;
	display: block;
	margin: 100px;
	height: 6px;
	background: #31708F;
}
ol::before,

ol::before {
	left: -5px;
}
/* bout de la fleche  */


/* ---- Timeline elements ---- */
li {
	position: relative;
	display: inline-block;
	float: left;
	width: 220px;
	font: bold 14px arial;
  height: 50px;
}
li .diplome {
  position: absolute;
  top: -60px;
  left: 36%;
  color: #000000;
}
li .date{
    position: absolute;
    top: 47px;
    left: 36%;
    color: #000000;
}
li .point {
	content: "";
	top: -4px;
	left: 43%;
	display: block;
	width: 6px;
	height: 6px;
	border: 10px solid #31708F;
	border-radius: 10px;
	background: #fff;
  position: absolute;
}
li .description {
  display: none;
  background-color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
li:hover {
	cursor: pointer;
  color: #48A4D2;
}
li:hover .description {
  display: block;
}



/* _______________Vericale_______________________________________
*/

